<div class="container">
  <div class="bg-info" style="align-items: center;">
    <h1 style="padding: 10px;">ASIN converter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>product by <a href="http://ec-merchant.com">ec-merchant.com</a></small></h1>
  </div>
  <h4>ログイン中：<%= @user %></h4>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- asinconverter1 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-4787566576871304"
       data-ad-slot="9416249238"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <br>
  ご利用ありがとうございます。ツールにご満足頂けたら広告のクリックをお願いします。
  <% @tt=Time.now.strftime("_%Y%m%d%H%M") %>
  <p style="font-weight: bold; font-size: 16px">※PAAPIが失効したためJAN⇒ASINのみ対応</p>

  <form class="form-inline">
  <label for="types">入力タイプを選択</laberl>
  <select id="types" class="form-control" stle="width: 40px;">
   <option value="JAN">JAN</option>
  </select>
  &nbsp;&nbsp;
  <button id="converter" class="btn btn-info" type="button" style="width: 80px;">変換開始</button>
  &nbsp;
  <a href="#" id="output" download="list<%= @tt %>.txt" class="btn btn-info" style="width: 110px;">テキスト出力</a>
</form>
  <br>
  <br>
  <div id="result"></div>
</div>
<input id="progress" value="continue" type="hidden" />

<%= javascript_include_tag 'items_generate', 'data-turbolinks-track': 'reload'  %>
